.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.component-container {
  width: 400px;
  height: 200px;
  margin: 20px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.grey {
  background-color: grey;
}
.purple {
  background-color: purple;
}
.pink {
  background-color: rgb(235, 106, 235)
}
.textDisplay {
  color: aliceblue;
  font-size: xx-large;
}
.addname{
  width: 400px;
  height: 300px;
  margin: 20px;
}
.name{
  color: rgb(247, 232, 28);
  font-size: large;
}
.product{
  font-size: xx-large;
  color: rgb(9, 26, 14);
}